<nav>
  <ul style="display: flex; justify-content: start; list-style: none;">
    <li><a href="/">Home</a>&nbsp;</li>
    <li><a href="/players">Jogadores</a>&nbsp;</li>
    <li><a href="/teams">Times</a>&nbsp;</li>
    <li><a href="/tournaments">Torneios</a>&nbsp;</li>
    <li><a href="/matches">Partidas</a>&nbsp;</li>
  </ul>
</nav>
